<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab17_hello</title>
</head>
<body>
    <p>Elliot. : fubar (f*d up beyond all repair) - Elliot's favorite acronym is FUBAR because it describes things that have gone wrong.</p>
    <p>Wes. : fubar (f*d up beyond all repair) - Wes' favorite acronym is also fubar because he got it from Elliot. </p>
    <p>Mackinzie. : fafo (f* around, find out) - Mackinzie's favorite acronym is FAFO because it emphasizes. </p>
</body>
</html>