<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <style>
        body {
            background-color: lavender;
        }
        h1 {
            color: cornflowerblue;
            font-size: 32px;
            font-family: "Courier New";
        }
        p {
            color: royalblue;
            font-size: 18px;
            font-family: "Courier New";
        }

    </style>


    <title>Favorite Acronyms</title>
</head>
<body>
    <!-- Your page content -->
    <div class="text-center">
        <h1>Favorite Acronyms</h1>
        <img src="https://as2.ftcdn.net/v2/jpg/02/92/97/03/1000_F_292970386_J83cVnbDLKLzRcIEMnncklxq7a7i2evC.jpg" class="rounded w-50">
        <a href="https://stock.adobe.com/search?k=acronym&asset_id=292970386">Image Link</a>

        <p>Elliot: fubar (f*d up beyond all repair) - Elliot's favorite acronym is FUBAR because it describes things that have gone wrong.</p>
        <p>Wes: fubar (f*d up beyond all repair) - Wes' favorite acronym is also FUBAR because he got it from Elliot. </p>
        <p>Mackinzie: fafo (f* around, find out) - Mackinzie's favorite acronym is FAFO because it emphasizes the consequences of ones actions. </p>
    </div>


</body>
</html>